@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

@layer components {
  .icons {
    @apply bg-gray-200 p-[6px] hover:bg-accent hover:text-white rounded-md text-[14px] cursor-pointer;
  }

  .navbar_links {
    position: relative;
    cursor: pointer;
  }
  .navbar_links:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar_links::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 0%;
    bottom: -5px;
    left: 0;
    transition: all 0.4s;
  }

  .navbar_links:hover::after {
    width: 100%;
  }

  .testimonial_bg__img {
    background-image: url("/cta-banner.jpg");
    background-size: cover;
    background-position: center;
  }
}
